<div class="row home-section mt-lg-5 px-lg-3">
<div class="col-lg-6 description">
    <h2 class="mt-lg-4 titre-name">Hello, I'm Driss TAFOUZERT</h2>
    <h2 class="mt-lg-4 titre-role">Full Stack Developer</h2>
    <p class="mt-lg-4 info">
        I'm TAFOUZERT Driss, I'm a full stack developer, I have a software engineering degree Bac+5, 
        and I've developed several applications in my academic background, side project, as well as in my internships.<br/>
        My last professional experience was at Atos Casablanca as a engineer developer, I realized an equipment 
        simulator (stress test) with Java - Spring Boot / Angular. 
    </p>
    <div class="row mt-lg-5">
        <div class="col-lg-6">
            <h3 class="contact">Email</h3>
            <p class="contact-adress">driss.tafouzert@gmail.com</p>
        </div>
        <div class="col-lg-6 ">
            <h3 class="contact">GitHub</h3>
            <p class="contact-adress">github.com/DrissTafouzert</p>
        </div>
        <div class="col-lg-6 mt-lg-5">
            <button class="btn btn-contact" >Download CV</button>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <img class="home-img" src="/assets/images/home-img.png" alt="">
</div>
</div>
