<div class="row home-section mt-lg-5 px-lg-3">
<div class="col-lg-6  description">
    <img class="home-left-shape-img d-none d-lg-block" src="/assets/images/home-left-shape.png" alt="">
    <h2 class="mt-lg-4 titre-name">Hello, I'm Driss TAFOUZERT</h2>
    <h2 class="mt-lg-4 titre-role">Full Stack Developer</h2>
    <p class="mt-lg-4 info">
        I'm TAFOUZERT Driss, I'm a full stack developer, I have a software engineering degree Bac+5, 
        and I've developed several applications in my academic background, side project, as well as in my internships.<br/>
        My last professional experience was at Atos Casablanca as a engineer developer, I realized an equipment 
        simulator (stress test) with Java - Spring Boot / Angular. 
    </p>
    <div class="row mt-lg-5">
        <div class="col-lg-6">
            <h3 class="contact">Email</h3>
            <p class="contact-adress">driss.tafouzert@gmail.com</p>
        </div>
        <div class="col-lg-6 ">
            <h3 class="contact">GitHub</h3>
            <p class="contact-adress">github.com/DrissTafouzert</p>
        </div>
        <div class="col-lg-6 mt-lg-5">
            <button class="btn btn-contact" >Download CV</button>
        </div>
    </div>
</div>
<div class="col-lg-6 d-none  d-lg-block">
    <img class="home-img" src="/assets/images/home-img.png" alt="">
</div>
</div>
<div class="row my-lg-5 second-section position-relative">
    <div class="col-lg-4">
        <div class="card ">
            <div class="row ">
                <div class="col-lg-2 ">
                    <img src="/assets/images/check-yes-icon.png" width="40" alt="">
                </div>
                <div class="col-lg-10">
                    <div class="card-body">
                        <h6 class="card-title">Full Stack Dev</h6>
                        <p class="card-text">
                            I can perform back-end tasks such as UML design class, database design, 
                            Rest-API for the back-end with Spring Boot framework,
                             as well as UI integration for the front-end with Angular framework. 
                        </p>
                        
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card ">
            <div class="row ">
                <div class="col-lg-2 ">
                    <img src="/assets/images/check-yes-icon.png" width="40" alt="">
                </div>
                <div class="col-lg-10">
                    <div class="card-body">
                        <h6 class="card-title">Continuous integration</h6>
                        <p class="card-text">
                            I can perform front-end and back-end integration tests with 
                            Jasmine (JavaScript), Karma, and JUnit (Java) and automate them using Jenkins, Git, And GitHub.
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card ">
            <div class="row ">
                <div class="col-lg-2 ">
                    <img src="/assets/images/check-yes-icon.png" width="40" alt="">
                </div>
                <div class="col-lg-10">
                    <div class="card-body">
                        <h6 class="card-title">Continuous deployement</h6>
                        <p class="card-text">
                            I am familiar with the linux environment, I can do continuous 
                            deployment with Jenkins, Docker and container management with Docker-compose, 
                            Docker Hub, Git, and GitHub.
                            <br>
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="side-shape-4" src="/assets/images/shape-4.png" alt="">
    <img class="side-shape-1" src="/assets/images/shape-1.png" alt="">
</div>
<div class="row third-section mb-lg-5">
    <div class="col-lg-12">
        <h3 class="mt-lg-5 section-titre">Projects</h3>
    </div>
    <div class="col-lg-6 mt-lg-5">
        <div class="card ">
            <div class="row ">
                <div class="col-lg-4 ">
                   
                </div>
                <div class="col-lg-8">
                    <div class="card-body">
                        <h6 class="card-title d-inline-block">Reddit clone</h6>
                        <span class="projects-time-deploy"> . Deployed 3 days ago</span>
                        <p class="card-text">
                            I am familiar with the linux environment, I can do continuous 
                            deployment with Jenkins, Docker and container management with Docker-compose, 
                            Docker Hub, Git, and GitHub.
                            <br>
                        </p>
                        <div>
                            <img class="mr-2" src="/assets/images/java-icon.png" width="20" height="20" alt="Java 8" title="Java 8">
                            <img class="mr-2" src="/assets/images/js-icon.png" width="20" height="20" alt="JavaScript" title="JavaScript" >
                            <img class="mr-2" src="/assets/images/angular-icon.png" width="20" height="20" alt="Angular 10" title="Angular 10">
                            <img class="mr-2" src="/assets/images/html-icon.png" width="20" height="20" alt="HTML 5" title="HTML 5">
                            <img class="mr-2" src="/assets/images/css-icon.png" width="20" height="20" alt="CSS 3" title="CSS 3">
                            <img class="mr-2" src="/assets/images/jenkins-icon.png" width="20" height="20" alt="Jenkins" title="Jenkins">
                            <img class="mr-2" src="/assets/images/docker-icon.png" width="20" height="20" alt="Docker" title="Docker">
                        </div> 
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-primary btn-github pr-2 mr-2"
                                (mouseenter)="btnGitHubEnter($event)"
                                (mouseleave)="btnGitHubLeave($event)">
                            <span><img src="assets/images/github-icon.png" alt=""></span>  
                            Front-end
                        </button>
                        <button class="btn btn-outline-primary btn-github pr-2 mr-2"
                                (mouseenter)="btnGitHubEnter($event)"
                                (mouseleave)="btnGitHubLeave($event)">
                            <span><img src="assets/images/github-icon.png" alt=""></span>
                            Back-end
                        </button>
                        <button class="btn btn-demo float-lg-right  pr-2 mr-2"
                                (mouseenter)="btnDemoEnter($event)"
                                (mouseleave)="btnDemoLeave($event)">
                            <span><img src="assets/images/demo-icon.png" alt=""></span>
                            Demo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">

    </div>

</div>  
<div class="row fourth-section align-items-center">
    <div class="col-lg-12 mb-lg-5">
        <h3 class="mt-lg-5 section-titre">Skills</h3>
    </div>
    <div class="row align-items-center">

        <div class="col-lg-1 position-relative left-rotate-titre">
            <h3 class="mt-lg-5 skill-titre">Back End</h3>        
        </div>

        <div class="col-lg-5">
            <p class="description">
                I worked on many web projects during my internship, as well as side 
                projects.
                Tasks that i realized design of class diagram, database,
                and Rest API
            </p>
        </div>

        <div class="col-lg-5 offset-lg-1">
            <p class="technologies">
               <strong>Language:</strong>   Java, PHP <br>
                <strong>Framework:</strong>    Spring boot, Spring data, Spring security, JPA, Hibernute, JSF, JSP, 
                Swagger UI.

            </p>
        </div>
    </div>
    
    <div class="row align-items-center">

        <div class="col-lg-1 position-relative left-rotate-titre">
            <h3 class="mt-lg-5 skill-titre">Front End</h3>        
        </div>
    
        <div class="col-lg-5">
            <p class="description">
                I worked on many web projects during my internship, as well as side 
                projects.
                Tasks that i realized design of class diagram, database,
                and Rest API
            </p>
        </div>
    
        <div class="col-lg-5 offset-lg-1">
            <p class="technologies"> 
                <strong>Language: </strong>  Java, PHP <br>
                <strong>Framework:  </strong>  Spring boot, Spring data, Spring security, JPA, Hibernute, JSF, JSP, 
                Swagger UI.
    
            </p>
        </div>
    </div>
    
    <div class="row align-items-center">

        <div class="col-lg-1 position-relative left-rotate-titre">
            <h3 class="mt-lg-5 skill-titre">Devops</h3>        
        </div>
    
        <div class="col-lg-5">
            <p class="description">
                I worked on many web projects during my internship, as well as side 
                projects.
                Tasks that i realized design of class diagram, database,
                and Rest API
            </p>
        </div>
    
        <div class="col-lg-5 offset-lg-1">
            <p class="technologies">
                <strong>Language: </strong> Java, PHP <br>
                <strong>Framework:</strong> Spring boot, Spring data, Spring security, JPA, Hibernute, JSF, JSP, 
                Swagger UI.
    
            </p>
        </div>
    </div>

    
</div>
