<div class="row home-section mt-lg-5 px-lg-3">
<div class="col-lg-6  description">
    <img class="home-left-shape-img d-none d-lg-block" src="/assets/images/home-left-shape.png" alt="">
    <h2 class="mt-lg-4 titre-name">Hello, I'm Driss TAFOUZERT</h2>
    <h2 class="mt-lg-4 titre-role">Full Stack Developer</h2>
    <p class="mt-lg-4 info">
        I'm TAFOUZERT Driss, I'm a full stack developer, I have a software engineering degree Bac+5, 
        and I've developed several applications in my academic background, side project, as well as in my internships.<br/>
        My last professional experience was at Atos Casablanca as a engineer developer, I realized an equipment 
        simulator (stress test) with Java - Spring Boot / Angular. 
    </p>
    <div class="row mt-lg-5">
        <div class="col-lg-6">
            <h3 class="contact">Email</h3>
            <p class="contact-adress">driss.tafouzert@gmail.com</p>
        </div>
        <div class="col-lg-6 ">
            <h3 class="contact">GitHub</h3>
            <p class="contact-adress">github.com/DrissTafouzert</p>
        </div>
        <div class="col-lg-6 mt-lg-5">
            <button class="btn btn-contact" >Download CV</button>
        </div>
    </div>
</div>
<div class="col-lg-6 d-none  d-lg-block">
    <img class="home-img" src="/assets/images/home-img.png" alt="">
</div>
</div>
<div class="row my-lg-5 second-section">
    <div class="col-lg-4">
        <div class="card ">
            <div class="row ">
                <div class="col-lg-2 ">
                    <img src="/assets/images/check-yes-icon.png" width="40" alt="">
                </div>
                <div class="col-lg-10">
                    <div class="card-body">
                        <h6 class="card-title">Full Stack Dev</h6>
                        <p class="card-text">
                            I can perform back-end tasks such as UML design class, database design, 
                            Rest-API for the back-end with Spring Boot framework,
                             as well as UI integration for the front-end with Angular framework. 
                        </p>
                        
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card ">
            <div class="row ">
                <div class="col-lg-2 ">
                    <img src="/assets/images/check-yes-icon.png" width="40" alt="">
                </div>
                <div class="col-lg-10">
                    <div class="card-body">
                        <h6 class="card-title">Continuous integration</h6>
                        <p class="card-text">
                            I can perform front-end and back-end integration tests with 
                            Jasmine (JavaScript), Karma, and JUnit (Java) and automate them using Jenkins, Git, And GitHub.
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card ">
            <div class="row ">
                <div class="col-lg-2 ">
                    <img src="/assets/images/check-yes-icon.png" width="40" alt="">
                </div>
                <div class="col-lg-10">
                    <div class="card-body">
                        <h6 class="card-title">Continuous deployement</h6>
                        <p class="card-text">
                            I am familiar with the linux environment, I can do continuous 
                            deployment with Jenkins, Docker and container management with Docker-compose, 
                            Docker Hub, Git, and GitHub.
                            <br>
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
