/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.btn-contact
{
    background-color: #FCB500;
    color: white;
    border-radius:50px;
    width: 150px;
    box-shadow:
                0px 1px 9px 0px #ffc107, 
                0px 0px 1px #ffc107, 
                0px 1px 24px #fcb500;
    
}
body
{
    overflow-x:hidden;
}